.formPage {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  color: #121212;
  padding-top: 4rem;
  font-size: 1.6rem;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

.chat {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
}

.profileIcon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.message {
  width: fit-content;
  padding: 1rem 1rem;
  background-color: #f7f8ff;
  border-radius: 0.5rem;
}

.image {
  background-color: #f7f8ff;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 40rem;
  height: 25rem;
  object-fit: cover;
}

.nextButton {
  display: grid;
  place-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 0.2rem;
  background-color: #0042da;
  border: none;
  cursor: pointer;
}

.buttonContainer {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

.input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.submit {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #0042da;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
}

.submitButton {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #0042da;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
}
